<html>
	<body>
		<h1>Virtual Machines</h1>
		<ul>
		{{range .}}
		<li>
			<a href="/rdp/{{.Host}}_{{.ID}}">{{.Name}}</a> ({{.Host}}:{{.RDPPort}})
			{{if (eq .RunState 1)}} RUN{{end}}
			{{if (eq .RunState 2)}} PAUSED{{end}}
		</li>
		{{end}}
		</ul>
	</body>
</html>
